<form asp-action="index" method="post">
    <label>Nhập họ và tên :</label><br>
    <input type="text" name="Name"><br>
    <label>Nhập năm sinh</label><br>
    <input type="number" name="NamSinh"><br>
    <input type="submit" value="Gửi dữ liệu">
</form>
<p>@ViewBag.Message</p>